// css for js plugin

// masonry

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid {
	margin: 0 auto;
}

/* ---- grid-item ---- */


.element-item {
  position: relative;
  float: left;
  width: 300px; 
  height: auto;
  color: #C4C4C4;
  background: #1F1F1F;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

// SUPER HOVER
.grid {
	text-align: center;
	position: relative;
	
}

.grid div {
	text-align: left;
	position: relative;
}

.grid .element-item {
	margin: 10px;
	position: relative;
}

.grid .element-item img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid .element-item_panel {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #131313;
	color: #C4C4C4;
}

/* Prew card hover */
.cs-style-3 .element-item  {
	overflow: hidden;
}

.cs-style-3 .element-item img,
.cs-style-3 .element-item .embed-responsive,
.cs-style-3 .element-item .text-content {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cs-style-3 .element-item:hover img,
.cs-style-3 .element-item:hover .embed-responsive,
.cs-style-3 .element-item:hover .text-content,  
.cs-style-3 .element-item.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 .element-item_panel {
	height: 60px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 .element-item:hover .element-item_panel,
.cs-style-3 .element-item.cs-hover .element-item_panel {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

// open card no hover
.grid .element-item_panel {
	
}
.cs-style-3 .element-item.open .element-item_panel {
	position: static;
	padding: 10px;
	background: transparent;
	color: #C4C4C4;
	width: 75%;
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.cs-style-3 .element-item.open:hover img,
.cs-style-3 .element-item.open:hover .embed-responsive,
.cs-style-3 .element-item.open:hover .text-content,  
.cs-style-3 .element-item.open.cs-hover img {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}