/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-audio {
  background-image: url(../images/sprites.png);
  background-position: -110px 0px;
  width: 54px;
  height: 54px;
}
.icon-main {
  background-image: url(../images/sprites.png);
  background-position: 0px 0px;
  width: 55px;
  height: 54px;
}
.icon-physical {
  background-image: url(../images/sprites.png);
  background-position: -55px 0px;
  width: 55px;
  height: 54px;
}
.icon-random {
  background-image: url(../images/sprites.png);
  background-position: 0px -54px;
  width: 54px;
  height: 55px;
}
.icon-textual {
  background-image: url(../images/sprites.png);
  background-position: -54px -54px;
  width: 54px;
  height: 55px;
}
.icon-visual {
  background-image: url(../images/sprites.png);
  background-position: -110px -54px;
  width: 54px;
  height: 54px;
}
